<!--
  This template loads for the 'tab.about' state (app.js)
-->
<ion-view title="About Ionic">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button class="button-icon button-clear ion-ios7-arrow-back">
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <ion-slide-box does-continue="true" slide-interval="3000">
      <ion-slide>
        <div class="box blue">
          <h1>BLUE</h1>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box yellow">
          <h1>YELLOW</h1>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box pink">
          <h1>PINK</h1>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
