<!-- 
  This template gets placed in the Pet tab's <ion-nav-view> directive.
  It was wired up in the app config (app.js) 
  The 'pets' data comes from its $scope within PetIndexCtrl (controller.js)
-->
<ion-view title="Pet Information">
<ion-nav-bar class="bar-positive">
  <ion-nav-back-button class="button-icon button-clear ion-ios7-arrow-back"></ion-nav-back-button>
</ion-nav-bar>
  <ion-content>

    <ion-list>

      <ion-item ng-repeat="pet in pets" type="item-text-wrap" href="#/test/pet/{{pet.id}}">
        <h3>{{pet.title}}</h3>
        <p>{{pet.description}}</p>
      </ion-item>
      
    </ion-list>

  </ion-content>
</ion-view>
