<ion-view>
  <ion-content>
    <ion-slide-box does-continue="true" slide-interval="3000">
      <ion-slide>
        <div class="box blue">
          <img src="img/mainImg3.png" class="img-responsive center-block">
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box yellow">
          <img src="img/mainImg5.png" class="img-responsive center-block">
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box yellow">
          <img src="img/mainImg5.png" class="img-responsive center-block">
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>