<ion-view>
  <ion-content>
    <ion-slide-box does-continue="true" slide-interval="3000">
      <ion-slide>
        <div class="box blue">
          <img src="img/mainImg3.png" class="img-responsive center-block">
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box yellow">
          <img src="img/mainImg5.png" class="img-responsive center-block">
        </div>
      </ion-slide>
    </ion-slide-box>

  </ion-content>
  <ion-footer-bar class="bar-stable">
    <div class="tabs tabs-icon-top">
      <a class="tab-item" href="#">
        <i class="icon ion-ios7-home"></i>
        首页
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-planet"></i>
        Favorites
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-gear-a"></i>
        Settings
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-person"></i>
        我的
      </a>
    </div>
  </ion-footer-bar>
</ion-view>