/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
	display: block;
	margin: 15px auto;
	width: 96px;
	height: 96px;
}
.box {
/*	min-height: 90px;
	background-color: red;*/
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	display: block;
	max-width: 100%;
	height: auto;
}
.center-block {
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.word-front {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	padding-top: 1.25em;
	padding-bottom: 0.5em;
	/*color: #fff;*/
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
@media screen and (min-width: 768px) {
  .word-front {
    right: 20%;
    left: 20%;
    padding-bottom: 1.875em;
  }
}
.word-front h3, .word-front h4 {
	font-family: "微软雅黑";
	font-weight: bold;
	color: #FFF9F9;
}
.word-front h4 {
	color: #fff;
	margin-bottom: 0;
}
.no-padding {
	padding: 0;
}
.no-padding-td {
	padding-top: 0;
	padding-bottom: 0;
}
.slider-pager {
	display: none;
}


.background-clear, .button.background-clear.active, .button.background-clear.activated {
	background-color: transparent;
	border-style: none;
	box-shadow: none; 
}
.position {
	position: relative;
	top: 0;
	left: 0;
}
.background-img {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -999;
}
.cell-img {
	background-color: transparent;
	max-width: 4em;
	padding: 0.5em 0 0 0;
}

.text-lg {
	font-size: 135%;
}
.text-hg {
	font-size: 150%;
	min-width: 33%;
}
.take-position {
	color: transparent;
}

.text-right {
	text-align: right;
}




.item-avatar1, .item-avatar1 .item-content, .item-avatar1-left, .item-avatar1-left .item-content {
  padding-left: 70px;
  min-height: 70px; }
  .item-avatar1 > img:first-child, .item-avatar1 .item-image, .item-avatar1 .item-content > img:first-child, .item-avatar1 .item-content .item-image, .item-avatar-left > img:first-child, .item-avatar-left .item-image, .item-avatar-left .item-content > img:first-child, .item-avatar-left .item-content .item-image {
    position: absolute;
    top: 15px;
    left: 15px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    border-radius: 4px; 
}


.center-block1 {
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.word-front1 {
	position: absolute;
	top:0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	padding-top: 1.25em;
	padding-bottom: 0.5em;
	/*color: #fff;*/
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

.word-front h2 {
	font-family: "微软雅黑";
	font-weight: bold;
	color: #000000;
}
.word-front h2 {
	color: #000;
	margin-bottom: 0;
}
/*
.item-avater img{
	padding:0,auto,0;
}



.item-avater h2 {
	ftont-family: "微软雅黑";
	fon-weight: thick;
	color: #FFF9F9;
}

.item-avater p {
	font-family: "微软雅黑";
	font-weight: thick;
	color: #FFF9F9;
}

.notice {
	position: relative;
	
	padding: 0, auto ,0;
}*/
.button.button-positive1 {
	margin-top: 7px;
    border-color: #145fd7;
    background-color: #4a87ee;
    color: #fff; }
    .button.button-positive1:hover {
      color: #fff;
      text-decoration: none; }
    .button.button-positive1.active, .button.button-positive.activated {
      border-color: #145fd7;
      background-color: #145fd7;
      box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.15); }
    .button.button-positive1.button-clear {
      border-color: transparent;
      background: none;
      box-shadow: none;
      color: #4a87ee; }
    .button.button-positive1.button-icon {
      border-color: transparent;
      background: none; }
    .button.button-positive1.button-outline {
      border-color: #4a87ee;
      background: transparent;
      color: #4a87ee; }
      .button.button-positive1.button-outline.active, .button.button-positive1.button-outline.activated {
        background-color: #4a87ee;
        box-shadow: none;
        color: #fff; }