/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
	display: block;
	margin: 15px auto;
	width: 96px;
	height: 96px;
}
.box {
/*	min-height: 90px;
	background-color: red;*/
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	display: block;
	max-width: 100%;
	height: auto;
}
.center-block {
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.word-front {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	padding-top: 1.25em;
	padding-bottom: 0.5em;
	/*color: #fff;*/
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
@media screen and (min-width: 768px) {
  .word-front {
    right: 20%;
    left: 20%;
    padding-bottom: 1.875em;
  }
}
.word-front h3, .word-front h4 {
	font-family: "微软雅黑";
	font-weight: bold;
	color: #FFF9F9;
}
.word-front h4 {
	color: #fff;
	margin-bottom: 0;
}
.no-padding {
	padding: 0;
}
.no-padding-td {
	padding-top: 0;
	padding-bottom: 0;
}
.slider-pager {
	display: none;
}


.background-clear, .button.background-clear.active, .button.background-clear.activated {
	background-color: transparent;
	border-style: none;
	box-shadow: none; 
}
.position {
	position: relative;
	top: 0;
	left: 0;
}
.background-img {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -999;
}
.cell-img {
	background-color: transparent;
	max-width: 4em;
	padding: 0.5em 0 0 0;
}

.text-lg {
	font-size: 135%;
}
.text-hg {
	font-size: 150%;
	min-width: 33%;
}
.take-position {
	color: transparent;
}

.text-right {
	text-align: right;
}